<% day_presenter = DayPresenter.new(day) %>
<div class="col">
  <div class="card mb-4">
    <div class="card-header">
      <h6><%= format_date(day.date) %></h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="fs-5 my-2">
          <%= day_presenter.condition %>
        </p>
      </li>
      <li class="list-group-item">
        <p class="fs-5 my-2">
          <%= day_presenter.min_temp %> / <%= day_presenter.max_temp %>
        </p>
      </li>
    </ul>
  </div>
</div>