<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">What's the weather outside?</h1>
    <p class="col-md-8 fs-4">Hmm, wonder if I'll need an umbrella or sunscreen today...</p>
    <div class="input-group mb-3">
      <%= form_tag home_path, method: :get, id: "location-form", class: "input-group" do %>
      <%= text_field_tag :location, params[:location], class: "form-control form-control-lg", placeholder: "Enter your city or postal code", aria: { label: "Enter your city or postal code" } %>
      <button class="btn btn-outline-primary" type="button" id="button-locate" title="Locate me">
        <i class="bi bi-geo-alt"></i>
      </button>
      <button class="btn btn-outline-primary" type="submit" id="button-search" title="Search">
        <i class="bi bi-search"></i>
      </button>
      <% end %>
    </div>
  </div>
</div>