<div class="col">
  <div class="card mb-4">
    <div class="card-header">
      <h6><%= label %></h6>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= field_value(label, value) %>
      </p>
    </div>
  </div>
</div>